// _modal.scss
@use "../abstracts/variables";

.navbar {
  background-color: variables.$first-color;
  padding: 1rem;

  .navbar-brand {
    color: variables.$color-black;
    font-weight: bold;
    font-size: 1.25rem;

    &:hover {
      color: variables.$third-color;
    }
  }

  .navbar-toggler {
    border: none;
    &:focus {
      box-shadow: none;
    }
  }

  .navbar-nav {
    gap: 1rem;
    margin-left: auto; // alinea a la derecha

    .nav-item {
      font-size: 1rem;

      .nav-link {
        padding: 0.5rem 1rem;
        border-radius: 20px;
        background-color: variables.$second-color;
        color: variables.$color-black;
        text-decoration: none;

        &:hover {
          background-color: variables.$third-color;
          color: black;
          transition: background-color 0.3s ease;
          cursor: pointer;
        }
      }
    }
  }
}

.navbar__ficha {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030; // para estar encima del contenido
}
